body {
  background: #f4f4f4;
}

/* HERO */
.hero {
  height: 100vh;
  background: linear-gradient(#1e90ff, #00bfff);
}

/* SOBRE MI (fondo sin cubrir todo) */
.fondo-sobre-mi {
  background: rgba(30, 144, 255, 0.2);
  backdrop-filter: blur(5px);
}

/* IMAGEN */
img {
  max-width: 200px;
}
